* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-anchor: none;
    
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(chop.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    
}



nav {
    display: flex;
    padding: 0.5.0.5% 0.5%;
    justify-content: space-between;
    align-items: center;
    background-image: url(swirl.jpg);
    background-size: cover;
    font-family: 'Slabo 27px', serif;
}

nav img {
    width: 180px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    position: relative;
}

#cart {
    padding-top: 15px;
    padding-bottom: -10px;
    align-self: baseline;
    width: 40px;
}
.nav-links ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    border-radius: 3px;
	padding: 5px 5px;
    font-family: 'Slabo 27px', serif;
	transition: all 0.5s ease;
}

.nav-links ul li a:hover {
    background: rgba(114, 114, 114, 0.455);
    color: black;
}

.bt {
    position: absolute;
    width: 90%;
    color: white;
    position: absolute;
    top: 30%;
    bottom: 50%;
    text-align: center;
    transform: translateX(50px);
    font-family: 'Slabo 27px', serif;
}

.st {
    position: absolute;
    width: 90%;
    color: white;
    position: absolute;
    top: 40%;
    bottom: 50%;
    text-align: center;
    font-size:21px;
    transform: translateX(50px);
    font-family: 'Slabo 27px', serif;
}

.btn1 {
    margin-left: -25%;
    position: absolute;
    width: 90%;
    color: white;
    position: absolute;
    top: 80%;
    bottom: 50%;
    text-align: center;
    transform: translateX(50px);
}

.btn1 a {
    color: white;
    text-decoration: none;
    border-radius: 20%;
    padding-top: 10px;
	padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 30px;
    font-family: 'Slabo 27px', serif;
    border: 3px solid white;
	transition: all 0.5s ease;
}

.btn1 a:hover {
    border: 3px solid white;
    border-style: double;
    background: green;
}

.btn2 {
    margin-left: -10%;
    position: absolute;
    width: 90%;
    color: white;
    position: absolute;
    top: 80%;
    bottom: 50%;
    text-align: right;
    transform: translateX(50px);
	
}

.btn2 a {
    color: white;
    text-decoration: none;
    border-radius: 20%;
    padding-top: 10px;
	padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 30px;
    font-family: 'Slabo 27px', serif;
    border: 3px solid white;
	transition: all 0.5s ease;
}

.btn2 a:hover {
    border: 3px solid white;
    border-style: double;
    background: green;
}

.gd {
    padding-left: 20px;
    position: absolute;
    width: 90%;
    color: white;
    position: absolute;
    top: 90%;
    bottom: 50%;
    text-align: center;
    transform: translateX(50px);
}

.gd a {
    color: white;
    text-decoration: none;
    border-radius: 50%;
	padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-family: 'Slabo 27px', serif;
    border: 3px solid white;
	transition: all 0.5s ease;
}

.gd a:hover {
    border: 3px solid white;
    border-style: double;
    background: black;
   
}


.subh {
    margin-bottom: 40px;
    text-align:center;
    font-family: 'Slabo 27px', serif;
    text-decoration-line: underline;
    padding-top: 40px;
    
}

.row {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container{
    max-width: 1080px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Slabo 27px', serif;
}

.col4 {
    flex-basis: 20%;
    padding: 20px;
    min-width: 200px;
    margin: auto;
}

.col4 a img {
    width: 225px;
    height: 225px;
	 transition: all 0.5s ease;
}

.col4 a img:hover {
    width: 250px;
    height: 250px;
}

.btn3 {
    position: absolute;
    color: black;
}

.btn3 a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 20%;
    padding-top: 10px;
	padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 30px;
    font-family: 'Slabo 27px', serif;
    border: 3px solid rgb(0, 0, 0);
	transition: all 0.5s ease;
}

.btn3 a:hover {
    border: 3px solid rgb(0, 0, 0);
    border-style: double;
    background: green;

}

.sg{
    font-family: 'Slabo 27px', serif;
}

.colsg {
    flex-basis: 6%;
    padding: 5px;
    min-width: 200px;
    margin: 10px;
    width: 100px;
    height: 200px;
    margin-bottom: 70px;
}
 
.colsg img {
    height: 200px;
    width: 200px;
	transition: all 0.5s ease;
}

.colsg img:hover {
    width: 225px;
    height: 225px;
 
}

.c2 {
    color: rgb(0, 0, 0);
}

.footer{
	background-color: #24262b;
    padding: 40px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:rgba(0, 0, 0, 0.585);
	padding:0px;
    overflow: hidden;
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: green;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: green;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:#777;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
}
#register
{
	left:450px;
}
#register input
{
	color:white;
	font-size: 15;
}

.about {
    min-height: 100vh;
    width: 100%;
    background-image: url(veg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    
}

.desc {
    position: absolute;
    width: 90%;
    color: rgb(255, 255, 255);
    top: 10%;
    bottom: 50%;
    text-align: left;
    transform: translateX(50px);
    font-family: 'Slabo 27px', serif;

}

